@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
    box-sizing: border-box;
}

*{
  user-select: none;
  overflow: hidden;
  
}
::-webkit-scrollbar {
    display: none;
  }

.container {
    z-index: 999;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 5em;
    margin: auto;
}

hr {
    width: 100%;
}

.title {
    font-size: 2em;
    font-weight: bold;
    color: white;
    margin-top: .3em;
}

.inputboxs {
    display: flex;
    z-index: 999;
    flex-wrap: wrap;
    gap: 1em;
    width: 20em;
    justify-content: center;
    align-items: center;
    margin-top: 3em;
}

.inputbox {
    background-color: #9c9c9c66;
    width: 2.75em;
    height: 2.75em;
    border: 1px solid #202020;
    display: flex;
    justify-content: center;
    align-items: center;    
    font-weight: bold;
    /* font-size: 1em; */
}

.keyboard {
    display: flex;
    flex-wrap: wrap;
    width: 25em;
    margin: auto;
    position: absolute;
    bottom: 1em;
    justify-content: center;
    align-items: center;
    column-gap: 0.4em;
    row-gap: 1em;
}

.keys {
    background-color: #9c9c9c66;
    width: 2em;
    height: 2em;
    display: flex;
    justify-content: center;
    align-items: center; 
    color: white;
    
}

.enterkey {
    width: 4em;
    height: 2em;
}

.err {
    padding: .5em 0 0 0;
    color: white;
    font-size: 2em;
    font-weight: bold;
}

.correct {
    background-color: #6fb96f;
    color: white;
    transform: rotateX(-360deg);
    transition: .5s;
}

.present {
    background-color: #b1b159;
    color: white;
	transform: rotateY(-360deg);
    transition: .5s;
}

.absent {
    background-color: #202020;
    color: white;
    transform: rotateY(-360deg);
    transition: .75s;

}

.not-finish,.not-found {
    color: red;
}

.found {
    color: #6fb96f;
}

.refresh {
    position: absolute;
    top: 0;
    right: 0;
    color: white;
    padding: 0.3em;
}

@keyframes move-background {
    from {
          -webkit-transform: translate3d(0px, 0px, 0px);
      }
      to { 
          -webkit-transform: translate3d(1000px, 0px, 0px);
      }
  }
  @-webkit-keyframes move-background {
    from {
          -webkit-transform: translate3d(0px, 0px, 0px);
      }
      to { 
          -webkit-transform: translate3d(1000px, 0px, 0px);
      }
  }
  
  @-moz-keyframes move-background {    
      from {
          -webkit-transform: translate3d(0px, 0px, 0px);
      }
      to { 
          -webkit-transform: translate3d(1000px, 0px, 0px);
      }
  }
  
      @-webkit-keyframes move-background {
      from {
          -webkit-transform: translate3d(0px, 0px, 0px);
      }
      to { 
          -webkit-transform: translate3d(1000px, 0px, 0px);
      }
  }
  
  .background-container{
      z-index: -999;
      position: fixed;
      top: 0;
      left:0;
      bottom: 0;
      right: 0;
  }
  
  .stars {
   background: black url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/stars.png) repeat;
   position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      display: block;
        z-index: 0;
  }
  
  .twinkling{
      width:10000px;
      height: 100%;
      background: transparent url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/twinkling.png") repeat;
      background-size: 1000px 1000px;
      position: absolute;
      right: 0;
      top: 0;
      bottom: 0;
      z-index: 2;
      
      -moz-animation:move-background 70s linear infinite;
    -ms-animation:move-background 70s linear infinite;
    -o-animation:move-background 70s linear infinite;
    -webkit-animation:move-background 70s linear infinite;
    animation:move-background 70s linear infinite;
      
  }
  
  .clouds{
      width:10000px;
      height: 100%;
      background: transparent url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/clouds_repeat.png") repeat;
      background-size: 1000px 1000px;
      position: absolute;
      right: 0;
      top: 0;
      bottom: 0;
      z-index: 2;
      animation:move-background 150s linear infinite;
  }
  img{
    height: 70vh;
    width:70vh;
    position: absolute;
    z-index: 3;
    right: 20px;
  }

@media only screen and (max-width:900px) {
    .keyboard {
        width: 22em;
    }
    .inputboxs {
        margin: 1em 0 0 0;
        width: 17em;
        gap: .5em;
    }
    .keys {
        width: 27px;
        height: 30px;
        border-radius: 3px;
    }
    .enterkey{
        width: 5em;
        MARGIN-LEFT: 5PX;
    }
    #Key⌫ {
        width: 2em;
    }
}
